<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470319815584-9km1dskeeurbqlbsfbu85f8ivovvb2fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470319815584-9km1dskeeurbqlbsfbu85f8ivovvb2fd</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqGS6DicnyEOWxSljYWZGYrm1m1jAh2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>470319815584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-c777c</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-c777c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470319815584:ios:fb15729ac191742309e2c5</string>
</dict>
</plist>